body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.header {
    background-color: #3b1d5e;
    padding: 20px;
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    background-color: #f4f4f4;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.container {
    padding: 40px;
}

select, button {
    padding: 10px;
    margin: 10px;
}

.login-btn {
    background-color: #4a8f5a;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.nav {
    display: flex;
    justify-content: flex-start; /* Flytter links til venstre */
    padding: 10px 20px;
    background: #ff7f50;
}

.nav-container {
    display: flex;
    gap: 15px; /* Afstand mellem links */
}

.nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


/* view-order.html */

.generic-form {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.order-table {
    border-collapse: collapse;  /* Gør at der kun ender med at være 1 border */
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 400px;
}

.order-table td, .order-table th {
    border: 1px solid #ddd;
    padding: 10px;
}

.order-table tr:nth-child(even) { /* tager hver anden række i tabellen */
    background-color: silver;
}
