<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Olsker Cupcakes</title>
  <link href="../public/css/viewhistory2.css" th:href="@{/css/viewhistory2.css}" rel="stylesheet"/>
  <link href="../public/css/frontpage.css" th:href="@{/css/frontpage.css}" rel="stylesheet"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>

<div class="header">
  <img alt="logo" src="../../public/images/logoMedSkrift.png" th:src="@{/images/logoMedSkrift.png}"/>
</div>

<div class="nav">
  <div class="nav-container">
    <div class="nav-left">
      <a th:href="@{/Admin}" th:text="${session.currentUser.email}"></a>
      <a href="/logout" class="nav-link" id="logout-link">Logout</a>
    </div>
  </div>
</div>

<div class="container">
  <h2>Costumer order overview</h2>
</div>

<div class="all-order-table">
  <form class="generic-form" method="get">
    <table class="order-table">
      <thead>
      <tr>
        <th>Ordre number</th>
        <th>User</th>
        <th>Status</th>
        <th>Price</th>
        <th>Products</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="order : ${orders}">
        <td th:text="${order.orderId}"></td>
        <td th:text="${order.userEmail}"></td>
        <td th:if="${order.isPaid}"></td>
        <td th:if="${!order.isPaid}"></td>
        <td th:text="${order.getOrderPrice()}"></td>
        <td>
          <table class="product-line-table">
            <thead>
            <tr>
              <th>Bottom</th>
              <th>Topping</th>
              <th>Price foreach cupcake</th>
              <th>Quantity</th>
              <th>Total price</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="productLine : ${order.productLineList}">
              <td th:text="${productLine.bottomName}"></td>
              <td th:text="${productLine.toppingName}"></td>
              <td th:text="${productLine.getBottomPrice() + productLine.getToppingPrice()}"></td>
              <td th:text="${productLine.quantity}"></td>
              <td th:text="${productLine.totalPrice}"></td>
            </tr>
            </tbody>
          </table>
        </td>
      </tr>
      </tbody>

    </table>
        </td>
      </tr>
      </tbody>
    </table>
  </form>
</div>

<script>
  document.getElementById('logout-link').addEventListener('click', function(e) {
    if (!confirm('Are you sure you wont to logout?')) {
      e.preventDefault();
    }
  });
</script>

<div class="footer">
  <!-- Logo billede -->
  <img alt="logo" src="../../public/images/cupcakes1.png" th:src="@{/images/cupcakes1.png}"/>
</div>
</body>
</html>
