<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olsker Cupcakes</title>
    <link href="../public/css/basket.css" th:href="@{/css/basket.css}" rel="stylesheet"/>
    <link href="../public/css/frontpage.css" th:href="@{/css/frontpage.css}" rel="stylesheet"/>
</head>
<body>
<div class="header">
    <!-- Logo billede -->
    <img alt="logo" src="../../public/images/logoMedSkrift.png" th:src="@{/images/logoMedSkrift.png}"/>
</div>


<!-- Navigationsmenu -->
<div class="nav">
    <div class="nav-container">
        <a th:if="${session.currentUser != null}" th:href="@{/logout}">Log ud</a>
        <a th:if="${session.currentUser.isAdmin == true}" th:href="@{/#}">Se alle ordrer</a>
        <!-- MANGLER PATH OG ENDPOINT HER -->
        <a th:text="${session.currentUser.email}" th:href="@{/ViewHistory2}"></a>
    </div>
</div>


<!-- overskrifter -->
<div class="container">
    <h2>Indkøbskurv</h2>
</div>


<div class="all-order-table">
    <form class="generic-form" method="get">
        <table class="order-table">
            <thead>
            <tr>
                <th>Ordrenummer</th>
                <th>Pris i alt</th>
                <th>Produkter</th>
            </tr>
            </thead>
            <tbody>
            <td th:text="${currentOrder.orderId}"></td>
            <td th:text="${currentOrder.getOrderPrice()}"></td>
            <td>
                <table class="product-line-table">
                    <thead>
                    <tr>
                        <th>Bottom</th>
                        <th>Topping</th>
                        <th>Pris pr cupcake</th>
                        <th>Antal</th>
                        <th>Samlet pris for ordrelinje</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="productLine : ${currentOrder.productLineList}">
                        <td th:text="${productLine.bottomName}"></td>
                        <td th:text="${productLine.toppingName}"></td>
                        <td th:text="${productLine.getBottomPrice() + productLine.getToppingPrice()}"></td>
                        <td th:text="${productLine.quantity}"></td>
                        <td th:text="${productLine.totalPrice}"></td>
                    </tr>
                    </tbody>
                </table>
            </td>
            </tbody>
        </table>
    </form>
</div>

<form method="post">
    <button class="custom-btn" type="submit" th:formaction="@{/continue-shopping}">Shop videre</button>
    <button class="custom-btn" type="submit" th:formaction="@{/pay}" th:if="${!currentOrder.isPaid}">Betal</button>
</form>


<div class="footer">
    <!-- Logo billede -->
    <img alt="logo" src="../../public/images/cupcakes1.png" th:src="@{/images/cupcakes1.png}"/>
</div>
</body>
</html>