<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Olsker Cupcakes</title>
  <link href="../public/css/frontpage.css" th:href="@{/css/frontpage.css}" rel="stylesheet"/>
</head>
<body>
<div class="header">
  <!-- Logo billede -->
  <img alt="logo" src="../../public/images/logoMedSkrift.png" th:src="@{/images/logoMedSkrift.png}"/>
</div>

<!-- Navigationsmenu -->
<div class="nav">
  <div class="nav-container">
    <a href="#">Login</a>
    <a href="#">Opret bruger</a>
  </div>
</div>
<!-- overskrifter -->
<div class="container">
  <h2>Velkommen ombord</h2>
</div>

<div>
  <h2>Igangværende ordre</h2>
</div>

<h2>Afsluttet ordrer</h2>

<form class="generic-form" method="get">
  <table class="order-table">
    <thead>
    <tr>
      <th>Ordrenummer</th>
      <th>Status/betalt</th>
      <th>Pris</th>
      <th>Produkter</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="order : ${orders}">
      <td th:text="${order.orderId}"></td>
      <td th:if="${order.isPaid}">Betalt </td>
      <td th:if="${!order.isPaid}">Ikke Betalt </td>
      <!-- <td th:text="${order.orderprice}"></td>  -->
      <!-- <td th:text="${order.productLineList}"></td>  -->
    </tr>
    </tbody>
  </table>
</form>



<div class="footer">
  <!-- Logo billede -->
  <img alt="logo" src="../../public/images/cupcakes1.png" th:src="@{/images/cupcakes1.png}"/>
</div>
</body>
</html>
